*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #eee;
    margin: 30px auto;
    width: 99%;
    display: flex;
    justify-content: center;   
    flex-wrap: wrap; 
    border-radius: 4px;
    padding-bottom: 20px;

}
#title h1,p{
    text-align: center; 
    width: 100%;     
}

#img-div{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    background-color: white;
    margin-bottom: 50px;
    border-radius: 4px;
}
#image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
}
#img-caption{
    margin: auto;
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-size: medium; 
    text-align: center;
}

.bold{
    font-weight: 800;
}
h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    width: 100%;
}
ul{
    
    margin-top: 25px;
    margin-left: -25px;
}
li{
    margin: 20px 0;
    line-height: 1.6;
}
.quote{
    text-align: justify;
    margin-left: -40px;
    width: fit-content;
    color: rgb(107, 107, 107);
    font-size: 19px;
}
#footer{
    margin-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
}